## Working with pandas dataframes and columns
Let's learn some basics of working with pandas dataframes. 

### Read in the dataset
Let's read in the Iris dataset from a URL, just like we did in the lecture:

In [1]:
import pandas as pd

# url to get file from
iris_url = "http://mlr.cs.umass.edu/ml/machine-learning-databases/iris/iris.data"

# read the file into a dataframe
iris = pd.read_csv(iris_url, header=None)

### Add column names
Column names are stored as a list and can be accessed with the following syntax: 

`df.columns`

In [2]:
iris.columns

Int64Index([0, 1, 2, 3, 4], dtype='int64')

We can see that there are no column names. Let's create a list of column names and apply it to our dataframe:

In [3]:
iris.columns = ['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width', 'Class']

In [4]:
iris.head()

   Sepal Length  Sepal Width  Petal Length  Petal Width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

### Rename Columns
Actually... it's a terrible idea to have spaces in our column names. That makes it very hard to work with columsn downstream. Let's rename our columns. 

We can either just feed the columns attribute a new list of names:

In [5]:
iris.columns = ['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Class']

In [6]:
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth        Class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

But what if we have hundreds or thousands of columns? That's pretty tedious. Also, how do we know our columns will be in the same order as our list? 

The safest way to rename columns is using pandas rename() method, and a dictionary of old to new name mappings:

In [5]:
iris = iris.rename(columns={"Sepal Length":"SepalLength", 
                   "Sepal Width":"SepalWidth",
                   "Petal Length":"PetalLength",
                   "Petal Width":"PetalWidth",
                   "Class":"Class"
                  })

In [6]:
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth        Class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

### Viewing a column
We can pull out just a single column from a datframe using the following syntax:
`df["column_name"]`

In [7]:
iris["SepalWidth"].head()

0    3.5
1    3.0
2    3.2
3    3.1
4    3.6
Name: SepalWidth, dtype: float64

You can also select a column as:

In [8]:
iris.SepalLength.head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: SepalLength, dtype: float64

### Viewing Multiple Columns
We can use a similar syntax to view multiple dataframe columns, we just feed it a list instead of a single column name:

In [10]:
iris[["SepalLength", "SepalWidth"]].head()

   SepalLength  SepalWidth
0          5.1         3.5
1          4.9         3.0
2          4.7         3.2
3          4.6         3.1
4          5.0         3.6

### loc and iloc
You can use loc and iloc to select data in pandas when you don't know the column name, or if you want to grab out a row by position.

- iloc = select by index
- loc = selecting by label or boolean/conditional 

The syntax is: 

`df.iloc[<row selection>, <column selection>]
df.loc[<row selection>, <column selection>]`

In [10]:
iris.iloc[0] # first row

SepalLength            5.1
SepalWidth             3.5
PetalLength            1.4
PetalWidth             0.2
Class          Iris-setosa
Name: 0, dtype: object

In [11]:
iris.iloc[1:5] # second to fifth rows

   SepalLength  SepalWidth  PetalLength  PetalWidth        Class
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [12]:
iris.iloc[-1] # last row

SepalLength               5.9
SepalWidth                  3
PetalLength               5.1
PetalWidth                1.8
Class          Iris-virginica
Name: 149, dtype: object

In [13]:
iris.iloc[:,0].head() # first column

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: SepalLength, dtype: float64

In [14]:
iris.iloc[:,-1].head() # last column

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Class, dtype: object

In [15]:
# first five rows and third and fourth columns
iris.iloc[0:5, 2:4].head()

   PetalLength  PetalWidth
0          1.4         0.2
1          1.4         0.2
2          1.3         0.2
3          1.5         0.2
4          1.4         0.2

### Setting an Index
Setting an index on a dataframe makes it much easier to work with downstream. You set the index as the main point of reference in your dataset, these will become your row labels.

In [17]:
iris = iris.reset_index()

In [18]:
iris.head()

             SepalLength  SepalWidth  PetalLength  PetalWidth
Class
Iris-setosa          5.1         3.5          1.4         0.2
Iris-setosa          4.9         3.0          1.4         0.2
Iris-setosa          4.7         3.2          1.3         0.2
Iris-setosa          4.6         3.1          1.5         0.2
Iris-setosa          5.0         3.6          1.4         0.2

### Add a new column
Adding a new column to an existing dataframe is easy:

In [19]:
iris["fake_column"] = "testing"

In [20]:
iris.head()

             SepalLength  SepalWidth  PetalLength  PetalWidth fake_column
Class
Iris-setosa          5.1         3.5          1.4         0.2     testing
Iris-setosa          4.9         3.0          1.4         0.2     testing
Iris-setosa          4.7         3.2          1.3         0.2     testing
Iris-setosa          4.6         3.1          1.5         0.2     testing
Iris-setosa          5.0         3.6          1.4         0.2     testing

### Delete a column
Let's get rid of that fake column using the drop() method. We need to add an argument `axis=1` to let pandas know we want to drop the column. If we wanted to drop by row, we would use `axis=0`.

In [21]:
iris = iris.drop("fake_column", axis=1)

In [22]:
iris.head()

             SepalLength  SepalWidth  PetalLength  PetalWidth
Class
Iris-setosa          5.1         3.5          1.4         0.2
Iris-setosa          4.9         3.0          1.4         0.2
Iris-setosa          4.7         3.2          1.3         0.2
Iris-setosa          4.6         3.1          1.5         0.2
Iris-setosa          5.0         3.6          1.4         0.2

### Adding new rows
If you want to add new rows to a pandas dataframe, use the append method, as follows:

In [23]:
iris.loc["Iris-mimosa"] = [42,42,42,42]

In [24]:
iris

                SepalLength  SepalWidth  PetalLength  PetalWidth
Class
Iris-setosa             5.1         3.5          1.4         0.2
Iris-setosa             4.9         3.0          1.4         0.2
Iris-setosa             4.7         3.2          1.3         0.2
Iris-setosa             4.6         3.1          1.5         0.2
Iris-setosa             5.0         3.6          1.4         0.2
Iris-setosa             5.4         3.9          1.7         0.4
Iris-setosa             4.6         3.4          1.4         0.3
Iris-setosa             5.0         3.4          1.5         0.2
Iris-setosa             4.4         2.9          1.4         0.2
Iris-setosa             4.9         3.1          1.5         0.1
Iris-setosa             5.4         3.7          1.5         0.2
Iris-setosa             4.8         3.4          1.6         0.2
Iris-setosa             4.8         3.0          1.4         0.1
Iris-setosa             4.3         3.0          1.1         0.1
Iris-setosa             5.8         4.0          1.2         0.2
Iris-setosa             5.7         4.4          1.5         0.4
Iris-setosa             5.4         3.9          1.3         0.4
Iris-setosa             5.1         3.5          1.4         0.3
Iris-setosa             5.7         3.8          1.7         0.3
Iris-setosa             5.1         3.8          1.5         0.3
Iris-setosa             5.4         3.4          1.7         0.2
Iris-setosa             5.1         3.7          1.5         0.4
Iris-setosa             4.6         3.6          1.0         0.2
Iris-setosa             5.1         3.3          1.7         0.5
Iris-setosa             4.8         3.4          1.9         0.2
Iris-setosa             5.0         3.0          1.6         0.2
Iris-setosa             5.0         3.4          1.6         0.4
Iris-setosa             5.2         3.5          1.5         0.2
Iris-setosa             5.2         3.4          1.4         0.2
Iris-setosa             4.7         3.2          1.6         0.2
...                     ...         ...          ...         ...
Iris-virginica          5.6         2.8          4.9         2.0
Iris-virginica          7.7         2.8          6.7         2.0
Iris-virginica          6.3         2.7          4.9         1.8
Iris-virginica          6.7         3.3          5.7         2.1
Iris-virginica          7.2         3.2          6.0         1.8
Iris-virginica          6.2         2.8          4.8         1.8
Iris-virginica          6.1         3.0          4.9         1.8
Iris-virginica          6.4         2.8          5.6         2.1
Iris-virginica          7.2         3.0          5.8         1.6
Iris-virginica          7.4         2.8          6.1         1.9
Iris-virginica          7.9         3.8          6.4         2.0
Iris-virginica          6.4         2.8          5.6         2.2
Iris-virginica          6.3         2.8          5.1         1.5
Iris-virginica          6.1         2.6          5.6         1.4
Iris-virginica          7.7         3.0          6.1         2.3
Iris-virginica          6.3         3.4          5.6         2.4
Iris-virginica          6.4         3.1          5.5         1.8
Iris-virginica          6.0         3.0          4.8         1.8
Iris-virginica          6.9         3.1          5.4         2.1
Iris-virginica          6.7         3.1          5.6         2.4
Iris-virginica          6.9         3.1          5.1         2.3
Iris-virginica          5.8         2.7          5.1         1.9
Iris-virginica          6.8         3.2          5.9         2.3
Iris-virginica          6.7         3.3          5.7         2.5
Iris-virginica          6.7         3.0          5.2         2.3
Iris-virginica          6.3         2.5          5.0         1.9
Iris-virginica          6.5         3.0          5.2         2.0
Iris-virginica          6.2         3.4          5.4         2.3
Iris-virginica          5.9         3.0          5.1         1.8
Iris-mimosa            42.0        42.0         42.0        42.0

[151 rows x 4 columns]